@use "sass:meta";

// Variables
$breakpoint-phone: 528px;
$breakpoint-mobile: 768px;
$breakpoint-widescreen: 1080px;

@use "./scss/color";
@use "./scss/font";
@use "./scss/animation";
@use "./scss/main";
@use "./scss/reusable" with (
  $breakpoint-mobile: $breakpoint-mobile,
  $breakpoint-widescreen: $breakpoint-widescreen
);

@use "./scss/components/layout" with (
  $breakpoint-mobile: $breakpoint-mobile,
  $breakpoint-widescreen: $breakpoint-widescreen
);
@use "./scss/components/header";
@use "./scss/components/sidebar" with (
  $breakpoint-mobile: $breakpoint-mobile
);
@use "./scss/components/aside" with (
  $breakpoint-widescreen: $breakpoint-widescreen
);
@use "./scss/components/footer";
@use "./scss/components/post-card" with (
  $breakpoint-phone: $breakpoint-phone
);
@use "./scss/components/slide";
@use "./scss/components/image";
@use "./scss/components/post";
@use "./scss/components/page" with (
  $breakpoint-mobile: $breakpoint-mobile
);
@use "./scss/components/comment";
@use "./scss/components/archives";
@use "./scss/components/tags";
@use "./scss/components/categories";
@use "./scss/components/error";
@use "./scss/components/author";
@use "./scss/components/links";
@use "./scss/components/shuttle";
@use "./scss/components/moments";
@use "./scss/components/friends";
@use "./scss/components/fancybox";
@use "./scss/components/dropdown";
@use "./scss/components/photos";
// 内容自定义组件（Alert, Badge, Folding, Timeline, Chat 等）
@use "./scss/components/content-components";
