@use "sass:meta";

// Variables
$breakpoint-phone: 528px;
$breakpoint-mobile: 768px;
$breakpoint-widescreen: 1080px;

@use "./scss/color";
@use "./scss/font";
@use "./scss/animation";
@use "./scss/main";
@use "./scss/reusable" with (
  $breakpoint-mobile: $breakpoint-mobile,
  $breakpoint-widescreen: $breakpoint-widescreen
);

@use "./scss/components/layout" with (
  $breakpoint-widescreen: $breakpoint-widescreen
);
@use "./scss/components/header";
@use "./scss/components/sidebar" with (
  $breakpoint-mobile: $breakpoint-mobile
);
@use "./scss/components/aside" with (
  $breakpoint-widescreen: $breakpoint-widescreen
);
@use "./scss/components/footer";
@use "./scss/components/post-card" with (
  $breakpoint-phone: $breakpoint-phone
);
@use "./scss/components/slide";
