@use "sass:meta";

// Variables
$breakpoint-phone: 528px;
$breakpoint-mobile: 768px;
$breakpoint-widescreen: 1080px;

@use "./scss/color";
@use "./scss/font";
@use "./scss/animation";
@use "./scss/main";
@use "./scss/reusable" with (
  $breakpoint-mobile: $breakpoint-mobile,
  $breakpoint-widescreen: $breakpoint-widescreen
);

@use "./scss/components/layout" with (
  $breakpoint-mobile: $breakpoint-mobile,
  $breakpoint-widescreen: $breakpoint-widescreen
);
@use "./scss/components/header";
@use "./scss/components/sidebar" with (
  $breakpoint-mobile: $breakpoint-mobile
);
@use "./scss/components/aside" with (
  $breakpoint-widescreen: $breakpoint-widescreen
);
@use "./scss/components/footer";
@use "./scss/components/post-card" with (
  $breakpoint-phone: $breakpoint-phone
);
@use "./scss/components/slide";
@use "./scss/components/post" with (
  $breakpoint-mobile: $breakpoint-mobile
);
@use "./scss/components/comment";
@use "./scss/components/archives";
@use "./scss/components/tags";
@use "./scss/components/categories";
@use "./scss/components/error";
@use "./scss/components/author";
@use "./scss/components/links";
@use "./scss/components/moments";
// 直接引入 Fancybox 基础样式，并指定命名空间防止冲突
@use "@fancyapps/ui/dist/fancybox/fancybox.css" as fancybox-lib;
@use "./scss/components/fancybox";
@use "./scss/components/dropdown";
@use "./scss/components/photos";
